body {
  margin: 0;
  background-color: #14141f;
  color: white;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-row {
  display: flex;
}
